@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: #ededed;
}

p {
  margin: 0;
}

@media (min-width: 375px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container {
  width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  background-color: white;
  max-width: 700px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

ul {
  padding-left: 15px;
}

button {
  background-color: white;
  font-family: inherit;
  font-size: 1.1rem;
  cursor: pointer;
  height: 40px;
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: opacity 0.15s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

input {
  width: 100%;
  font-family: inherit;
  font-size: 1.1rem;
  height: 40px;
  border: 0.5px solid black;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#pokemonNameText {
  font-weight: 500;
  font-size: 1.5rem;
}

#pokemonSprite {
  height: auto;
  margin-bottom: 20px;
}

/* Alerts */
.alert-error {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(255, 210, 210);
  color: red;
  font-weight: bold;
}
